.page {
    background-color: #09101d;
    width: 100%;
    height: 100vh;
}

h1 {
    color: lavender;
    font-family: "Cursive", serif;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 3em
}

h5 {
    color: lavender;
    font-family: "Cursive", serif;
    padding-left: 40%;
    padding-top: 20px;
}

.diagram {
    width: 40%;
    margin: 30px;
    display:inline-block;
}